XSD/aboutus.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="about">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string" name="heading"/>
				<xs:element name="profiles">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="author" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="image">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="img">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute type="xs:string" name="src" use="optional"/>
																	<xs:attribute type="xs:string" name="id" use="optional"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute type="xs:string" name="class" use="optional"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="intro">
											<xs:complexType mixed="true">
												<xs:sequence>
													<xs:element name="a" maxOccurs="unbounded" minOccurs="0">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute type="xs:string" name="href" use="optional"/>
																	<xs:attribute type="xs:string" name="style" use="optional"/>
																	<xs:attribute type="xs:string" name="id" use="optional"/>
																	<xs:attribute type="xs:string" name="target" use="optional"/>
																	<xs:attribute type="xs:string" name="class" use="optional"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute type="xs:string" name="class" use="optional"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>