XSD/home.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="content">
		<xs:complexType>
		<xs:sequence>
			<xs:element name="logo">
			<xs:complexType>
				<xs:sequence>
				<xs:element name="img">
					<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
						<xs:attribute type="xs:string" name="src"/>
						<xs:attribute type="xs:string" name="id"/>
						</xs:extension>
					</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				</xs:sequence>
				<xs:attribute type="xs:string" name="class"/>
			</xs:complexType>
			</xs:element>
			<xs:element name="intro">
			<xs:complexType>
				<xs:sequence>
				<xs:element name="paragraph">
					<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
						<xs:attribute type="xs:string" name="class"/>
						</xs:extension>
					</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				</xs:sequence>
				<xs:attribute type="xs:string" name="class"/>
			</xs:complexType>
			</xs:element>
		</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>