XSD/xxxlogin.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="loginform">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="mainForm-box">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="div" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="switchbut" maxOccurs="unbounded" minOccurs="0">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute type="xs:string" name="type" use="optional"/>
														<xs:attribute type="xs:string" name="class" use="optional"/>
														<xs:attribute type="xs:string" name="onclick" use="optional"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="form" minOccurs="0">
											<xs:complexType>
												<xs:choice maxOccurs="unbounded" minOccurs="0">
													<xs:element type="xs:string" name="h1"/>
													<xs:element name="input">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute type="xs:string" name="type" use="optional"/>
																	<xs:attribute type="xs:string" name="class" use="optional"/>
																	<xs:attribute type="xs:string" name="name" use="optional"/>
																	<xs:attribute type="xs:string" name="placeholder" use="optional"/>
																	<xs:attribute type="xs:string" name="onblur" use="optional"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="div">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute type="xs:string" name="id" use="optional"/>
																	<xs:attribute type="xs:string" name="type" use="optional"/>
																	<xs:attribute type="xs:string" name="class" use="optional"/>
																	<xs:attribute type="xs:string" name="name" use="optional"/>
																	<xs:attribute type="xs:string" name="placeholder" use="optional"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="button">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute type="xs:string" name="type" use="optional"/>
																	<xs:attribute type="xs:string" name="name" use="optional"/>
																	<xs:attribute type="xs:string" name="class" use="optional"/>
																	<xs:attribute type="xs:string" name="onclick" use="optional"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:choice>
												<xs:attribute type="xs:string" name="id" use="optional"/>
												<xs:attribute type="xs:string" name="name" use="optional"/>
												<xs:attribute type="xs:string" name="class" use="optional"/>
												<xs:attribute type="xs:string" name="method" use="optional"/>
												<xs:attribute type="xs:string" name="action" use="optional"/>
												<xs:attribute type="xs:string" name="onsubmit" use="optional"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute type="xs:string" name="class"/>
						<xs:attribute type="xs:string" name="id"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute type="xs:string" name="class"/>
		</xs:complexType>
	</xs:element>
</xs:schema>